@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Playfair+Display:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Playfair+Display:ital,wght@1,700&display=swap');
@theme  {
  /* --shadow-profile:0px 0px 5px 2.5px skyblue; */
  --shadow-profile:0px 0px 20px 5px skyblue;
  --shadow-btn:0px 0px 5px 2.5px skyblue;
  --shadow-profile-mouiz:0px 0px 20px 10px skyblue;

  /* breack points of responsive design  */
  --breakpoint-mobile: 639px;
  --breakpoint-tablet: 1023px;
  --breakpoint-desktop: 1024px;
  /* font style  */
  --font-brand: "Inter", sans-serif;
  --font-sans: "Inter", ui-sans-serif, system-ui;
  --font-sans2: 'Poppins', sans-serif;
  --font-serif: 'Playfair Display', serif;
  --font-header: "Inter", sans-serif;
  /* Branding/Italic Font */
  --font-italic: "Playfair Display", serif;
}
/* Custom 3D Utilities */
@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
  .preserve-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
}