 .glass-dark {
            /* background: rgba(3, 14, 40, 0.85); */
            backdrop-filter: blur(12px) saturate(180%);
            -webkit-backdrop-filter: blur(12px) saturate(180%);
            border: 1px solid rgba(255, 255, 255, 0.1);
        }

        .transformh{
            transform: rotate(-5deg) translateY(30px);
        }